<div class="container" data-aos="fade-up">

	<header class="section-header">
		<h2>F.A.Q</h2>
		<p>Pertanyaan yang Sering Diajukan</p>
	</header>

	<div class="row">
		<div class="col-lg-6">
			<!-- F.A.Q List 1-->
			<div class="accordion accordion-flush" id="faqlist1">
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
							Bagaimana Aplikasi Sudah Jadi dan Perlu Revisi ?
						</button>
					</h2>
					<div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
						<div class="accordion-body">
							Maksimal 3 kali revisi. Jika masih ada revisi selanjutnya maka akan dikenakan biaya sesuai kondisi.
						</div>
					</div>
				</div>

				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
							Apakah Logo Website Nanti Dibuatkan ?
						</button>
					</h2>
					<div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
						<div class="accordion-body">
							Logo dibuat pelanggan sendiri, bantuan edit logo hanya sebatas resize saja. Atau anda bisa memesan jasa desain logo dari kami sesuai kebutuhan anda.
						</div>
					</div>
				</div>

				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
							Apakah Sudah Termasuk SEO ?
						</button>
					</h2>
					<div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
						<div class="accordion-body">
							Ya, layanan ini sudah termasuk SEO.
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="col-lg-6">

			<!-- F.A.Q List 2-->
			<div class="accordion accordion-flush" id="faqlist2">

				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
							Apakah Ada Biaya Tambahan ?
						</button>
					</h2>
					<div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
						<div class="accordion-body">
							Hal ini tergantung dari website yang akan dibuat, akan ada biaya untuk tambahan halaman maupun fitur seperti livechat, kontak whatsapp, e-mail (plugin / widget).

							Juga akan dikenakan biaya upkeep pada tahun berikutnya mulai dari Rp. 500.000,- / tahun. Meliputi:
							<ul>
								<li>Biaya Hosting</li>
								<li>Perpanjangan Domain</li>
								<li>Biaya Perawatan / Update Website</li>
								<li>Update & Patch Keamanan</li>
								<li>Dedicated Manager Support</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
							Saya Sudah Punya Website / Aplikasi Sebelumnya, Bagaimana ?
						</button>
					</h2>
					<div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
						<div class="accordion-body">
							Kami tidak menerima perbaikan website / aplikasi yang sudah ada, karena source code website tiap developer berbeda-beda. Namun kami dapat membantu Anda membuat ulang
							website yang
							lebih baik.
						</div>
					</div>
				</div>

				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
							Saya Awam Tentang Website, Apakah Dibantu ?
						</button>
					</h2>
					<div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
						<div class="accordion-body">
							Ya, tentu saja. Tim support kami akan membantu anda mempelajari cara menggunakan website dari awal sampai bisa kami juga membuatkan panduan pada setiap aplikasi yang kami
							buat.
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>

</div>
