<div class="container">
	<div class="row">
		<div class="col-lg-7 d-flex flex-column justify-content-center">
			<h1 data-aos="fade-up" class="text-uppercase">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</h1>
			<h2 data-aos="fade-up" data-aos-delay="400" class="text-uppercase">Cras sit amet congue nibh. Nullam dictum massa viverra, dictum purus eu, vestibulum mauris. </h2>
			<div data-aos="fade-up" data-aos-delay="600">
				<div class="text-center text-lg-start">
					<a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
						<span>ABOUT US</span>
						<i class="bi bi-arrow-right"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-5 hero-img" data-aos="zoom-out" data-aos-delay="200">
			<img src="assets/img/hero.svg" class="img-fluid" alt="">
		</div>
	</div>
</div>
