<div class="container" data-aos="fade-up">

	<header class="section-header">
		<!--		<h2>Daftar Harga</h2>-->
		<p>Daftar Harga</p>
	</header>

	<div class="row gy-4" data-aos="fade-left">

		<div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
			<div class="box">
				<h3 class="text-uppercase" style="color: #07D5C0;">Service 1</h3>
				<span class="card-title text-muted">Mulai Dari</span>
				<div class="price">
					<sup>Rp</sup>99.000.000
				</div>
				<img src="assets/img/pricing-free.png" class="img-fluid" alt="">
				<ul>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet</li>
				</ul>
				<a href="#" class="btn-buy">Order Now</a>
			</div>
		</div>

		<div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
			<div class="box">
				<span class="featured">Featured</span>
				<h3 class="text-uppercase" style="color: #65C600;">Service 2</h3>
				<span class="card-title text-muted">Mulai Dari</span>
				<div class="price">
					<sup>Rp</sup>1.499.000.000
				</div>
				<img src="assets/img/pricing-starter.png" class="img-fluid" alt="">
				<ul>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet</li>
				</ul>
				<a href="#" class="btn-buy">Order Now</a>
			</div>
		</div>

		<div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
			<div class="box">
				<h3 class="text-uppercase" style="color: #FF901C;">Service 3</h3>
				<span class="card-title text-muted">Mulai Dari</span>
				<div class="price">
					<sup>Rp</sup>1.999.000.000
				</div>
				<img src="assets/img/pricing-business.png" class="img-fluid" alt="">
				<ul>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet</li>
				</ul>
				<a href="#" class="btn-buy">Order Now</a>
			</div>
		</div>

		<div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
			<div class="box">
				<h3 class="text-uppercase" style="color: #FF0071;">Service 4</h3>
				<span class="card-title text-muted">Mulai Dari</span>
				<div class="price">
					<sup>Rp</sup>499.000.000
				</div>
				<img src="assets/img/pricing-ultimate.png" class="img-fluid" alt="">
				<ul>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet</li>
				</ul>
				<a href="#" class="btn-buy">Order Now</a>
			</div>
		</div>
	</div>

</div>
