<div class="container" data-aos="fade-up">

	<header class="section-header">
		<h2>Layanan & Jasa</h2>
		<p>Kami Menawarkan Layanan / Jasa Berupa</p>
	</header>

	<div class="row gy-4">

		<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
			<div class="service-box blue">
				<i class="ri-discuss-line icon"></i>
				<h3>Service 1</h3>
				<p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p>
			</div>
		</div>

		<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
			<div class="service-box orange">
				<i class="ri-discuss-line icon"></i>
				<h3>Service 2</h3>
				<p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
			</div>
		</div>

		<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
			<div class="service-box green">
				<i class="ri-discuss-line icon"></i>
				<h3>Service 3</h3>
				<p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
			</div>
		</div>

	</div>

</div>
