<div class="container" data-aos="fade-up">

	<header class="section-header">
		<!--		<h2>Mengapa Harus Memilih Kami ?</h2>-->
		<p>Mengapa Harus Memilih Kami ?</p>
	</header>

	<div class="row">

		<div class="col-lg-4">
			<div class="box" data-aos="fade-up" data-aos-delay="200">
				<img src="assets/img/professional.svg" class="img-fluid" alt="">
				<h3>Tim Yang Berpengalaman</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet congue nibh. Nullam dictum massa viverra, dictum purus eu, vestibulum mauris.</p>
			</div>
		</div>

		<div class="col-lg-4 mt-4 mt-lg-0">
			<div class="box" data-aos="fade-up" data-aos-delay="400">
				<img src="assets/img/competitive.svg" class="img-fluid" alt="">
				<h3>Harga Yang Kompetitif</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet congue nibh. Nullam dictum massa viverra, dictum purus eu, vestibulum mauris. </p>
			</div>
		</div>

		<div class="col-lg-4 mt-4 mt-lg-0">
			<div class="box" data-aos="fade-up" data-aos-delay="600">
				<img src="assets/img/guarantee.svg" class="img-fluid" alt="">
				<h3>Garansi</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet congue nibh. Nullam dictum massa viverra, dictum purus eu, vestibulum mauris. </p>
			</div>
		</div>

	</div>
</div>
